{%  extends 'core/base.html' %}
{%  load static %}
{%  block title %}Forget Password{% endblock  %}
{%  block content %}

<div class = "message">
{% if messages  %}
    {% for message in messages  %}
        {% if message.tags == 'error'  %}
            <p class = "error">{{message}}</p>
        {%  else %}
            <p class = "success">{{message}}</p>
        {% endif  %}
    {%  endfor  %}
{% endif  %}
</div>

<div class = "bowl">
    <form method = "POST" class = "super">
        {%  csrf_token %}
        <h1>Forget Password Page</h1>
        <div>
            <label class = "potato">Email</label>
            <input type = "email" name = "email" class = "chip">
        </div>
        <button type = "submit" class = "packet">Forget Password</button>
    </form>
</div>




{%  endblock %}