{% extends 'core/base.html' %}
{% load static  %}
{% block title  %}Login Page{% endblock  %}
{% block content  %}

<div class = "message">
    {% if messages  %}
        {% for message in messages  %}
            {% if message.tags == 'error' %}
                <p class = "error">{{message}}</p>
            {% else  %}
                <p class = "success">{{message}}</p>
            {% endif  %}
        {% endfor  %}
    {% endif  %}
</div>

<div class = "chicken">
    <form method = "POST" class = "egg">
        {% csrf_token %}
        <h1>Login Page</h1>
        <div>
            <label class = "farm">Username</label>
            <input type = "text" name = "username" class = "poultry">
        </div>
        <div>
            <label class = "farm">Password</label>
            <input type = "password" name = "password" class = "poultry">
        </div>
        <button type = "submit" class = "feed">Login</button>
        <div>
            <p>If you forget your password?<a href = "{% url 'forget_password'  %}">Forget Password</a></p>
        </div>
    </form>
</div>




{% endblock  %}