{%  extends 'core/base.html' %}
{%  load static %}
{%  block title %}Reset Password{% endblock  %}
{%  block content  %}

<div class = "message">
    {% if messages  %}
        {% for message in messages  %}
            {% if message.tags == 'error' %}
                <p class = "error">{{message}}</p>
            {% else %}
                <p class = "success">{{message}}</p>
            {% endif %}
        {% endfor  %}
    {% endif  %}
</div>

<div class = "television">
    <form method = 'POST' class = "show">
        {% csrf_token %}
        <h1>Reset Password Page</h1>
        <div>
            <label class = "anchor" >Password</label>
            <input type = "password" name = "password" class = "platform">
        </div>
        <div>
            <label class = "anchor">Confirm Password</label>
            <input type = "password" name = "confirm_password" class = "platform">
        </div>
        <button type = "submit" class = "ticket">Reset Password</button>
    </form>
</div>



{% endblock  %}