.bowl {
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items : center;
    justify-content: center;
}
.super {
    border: 1px solid black;
    border-radius: 25px;
    width: 60%;
    text-align: center;
}
.potato {
    display: block;
    font-weight: bold;
    text-align: left;
    font-size: 17px;
    margin-left: 10%;
}
.chip {
    width: 80%;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 17px;
    padding-left: 15px;
}
.packet {
    width: 82%;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 3%;
}
.packet:hover {
    background-color: skyblue;
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    font-weight: bold;
}
@media (max-width: 768px){
    .bowl {
        width: 100%;
    }
    .super {
        width: 100%;
        border: none;
    }
    .packet {
        width: 85%;
    }
}