.television {
    display: flex;
    flex-wrap: wrap;
    align-items : center;
    justify-content: center;
    height: 70vh;
}
.show {
    border: 1px solid black;
    border-radius: 25px;
    width: 60%;
    text-align: center;
}
.anchor {
    font-weight: bold;
    text-align: left;
    margin-left: 10%;
    display: block;
    margin-top: 2%;
}
.platform {
    width: 80%;
    height: 40px;
    padding-left: 15px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 20px;
}
.ticket {
    width: 83%;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 15px;
}
.ticket:hover {
    background-color: skyblue;
    border: 2px solid black;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}
@media (max-width: 768px) {
    .television {
        height: 70vh;
    }
    .show {
        width: 100%;
        border: none;
    }
    .ticket {
        width: 85%;
    }
}