.engine {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rocket {
    text-align: center;
    width: 60%;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 4%;
    margin-bottom: 4%;
}
.label {
    display: block;
    font-weight: bold;
    margin-left: 10%;
    text-align: left;
    margin-top: 2%;
}
.space {
    width: 80%;
    height: 40px;
    padding-left: 15px;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 2%;
}
.ship {
    width: 82%;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 3%;
    font-size: 17px;
}
.ship:hover {
    background-color: purple;
    font-weight: bold;
    color: white;
}

.meteor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 50px;
}
.meteor:hover {
    background-color: #119211;
    border-radius: 20px;
    border: 2px solid black;
}
.shower {
    text-decoration: none;
    color: black;
}
.meteor:hover  > .shower {
    font-weight: bold;
    color: white;
    text-decoration: underline;
}
.icon {
    height: 40px;
    width: 37px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2%;
}
@media (max-width: 768px){
    .rocket {
        width: 100%;
        border: none;
        margin-top: 4%;
        margin-bottom: 6%;
    }
}
.message {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.error {
    background-color: #f63939;
    border: 3px solid red;
    text-align: center;
    width: 70%;
    min-height: 40px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}
.success{
    background-color: #64f364;
    border: 3px solid green;
    text-align: center;
    width: 70%;
    min-height: 40px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}